{% extends "layout.html" %}
{% block body %}
<script src="/static/jspdf.js"></script>
<script src="/static/FileSaver.js"></script>
<script src="/static/jspdf.plugin.table.js"></script>
<script>
function generatefromjson() {
    var data = [], fontSize = 12, height = 0, doc;
    doc = new jsPDF('p', 'pt', 'a4', true);
    doc.setFont("times", "normal");
    doc.setFontSize(fontSize);
    data = doc.tableToJson('tableProf');

    data.forEach(function(item,index){
      delete item['Deletar?'];

      delete item['SIAPE'];
      delete item['Tipo'];
      delete item['CodOrientados'];
    });

    height = doc.drawTable(data, {
      xstart : 10,
      ystart : 10,
      tablestart : 40,
      marginright : 100,
      xOffset : 10,
      yOffset : 10,
      columnWidths : [50,210,210,100]
    });
    if (height >= doc.internal.pageSize.height) doc.addPage();

    data = doc.tableToJson('tableProf');

    data.forEach(function(item,index){
      delete item['Deletar?'];

      delete item['Nome'];
      delete item['Email'];
      delete item['Telefone'];
      delete item['Endereco']
    });

    height = doc.drawTable(data, {
      tablestart : height,
      columnWidths : [155,260,155]
    });
    if (height >= doc.internal.pageSize.height) doc.addPage();

    doc.save("some-file.pdf");
  };
</script>

<center><legend>Alunos que já passaram do prazo no {{nivel}}</legend></center>
<a href="#" onclick="generatefromjson();"><h4>Gerar PDF</h4></a>
<div class="table-responsive">
<table id="tableProf" class="table">
<TR>
<TH>Nome</TH>
<TH>Email</TH>
<TH>Telefone</TH>
<TH>Endereco</TH>
<TH>SIAPE</TH>
<TH>Tipo</TH>
<TH>CodOrientados</TH>
<TH>Deletar?</TH>
</TR>
{% for row in rows %}

<TR class="cinza">
  <TD>{{row['nome']}}</TD>
  <TD>{{row['email']}}</TD>
  <TD>{{row['tel']}}</TD>
  <TD>{{row['endereco']}}</TD>
  <TD>{{row['SIAPE']}}</TD>
  <TD>{{row['Tipo']}}</TD>
  <TD>
    {% if not row['CodOrientados'] %}
      Nenhum
    {% else %}
      {{row['CodOrientados']}}
    {% endif %}
  </TD>
  <TD><a href="/deletar/{{row['IDGERAL']}}">Deletar</a> </TD>
</TR>
{% endfor %}
</TABLE>

</div>
{% endblock %}
