  {% extends "layout.html" %}
  {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% endblock %}
  {% block body %}
    <form class="form-horizontal" action = "{{ url_for('EditAlunos') }}" method = "POST">
      <fieldset>

<!-- Dados do aluno -->
      <center><legend>Registro do Aluno</legend></center>
{{rows}}

    {% for row in rows %}

<!-- Nome-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="nome">Nome:</label>
          <div class="col-md-5">
            <input id="nome" name="nome" type="text"  value="{{row[1]}}"class="form-control input-md" required="">
          </div>
        </div>

<!-- DRE-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dre">DRE:</label>
          <div class="col-md-5">
            <input id="dre" name="dre" type="number" value="{{row[6]}}" class="form-control input-md" required="">
          </div>
        </div>

<!-- Curso-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="curso">Curso:</label>
          <div class="col-md-5">
            <input id="curso" name="curso" type="text"  value="{{row[9]}}"class="form-control input-md" required="">
          </div>
        </div>

<!-- Telefone-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="telefone">Telefone:</label>
          <div class="col-md-5">
            <input id="telefone" name="telefone" value="{{row[3]}}"type="text" placeholder="(21)xxxx - xxxx" class="form-control input-md" required="">
          </div>
        </div>

<!-- Email-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email:</label>
          <div class="col-md-5">
            <input id="email" name="email" type="text"  value="{{row[4]}}" class="form-control input-md" required="">
          </div>
        </div>

<!-- Endereço (Rua)-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="endereco">Endereço:</label>
          <div class="col-md-5">
            <input id="endereco" name="endereco" value="{{row[2]}}"type="text" placeholder="Ex: Rua São João, 123" class="form-control input-md" required="">
          </div>
        </div>

<!-- Formulario da graduação -->
    <center><legend>Graduação</legend></center>

        <div class="form-group row">
          <label for="conclusao" class="col-md-4 control-label">Data da conclusão:</label>
          <div class="col-md-5">
            <input class="form-control" name="datagrad" value="{{row[7]}}"type="date"  id="conclusao">
          </div>
        </div>
<!-- Formulario da graduação -->
<!--Onde se graduou-->
<div class="form-group">
  <label class="col-md-4 control-label">Onde se graduou:</label>
  <div class="col-md-5">
    <input id="localgrad" name="localgrad" value="{{row[8]}}" type="text"  class="form-control input-md" required="">
  </div>
</div>
    <center><legend>Ingresso</legend></center>

        <div class="form-group row">
          <label for="ingresso" class="col-md-4 control-label">Data do ingresso:</label>
          <div class="col-md-5">
            <input class="form-control" value="{{ingresso}}" name="ingresso" type="date"  id="ingresso">
          </div>
        </div>
<!--bolsa-->
        <div class="form-group">
          <label class="col-md-4 control-label">Bolsista: </label>
            <div class="col-md-5">
              <label class="radio-inline">
                <select name='bolsa'>
                  <option value='sim'>sim</option>
                  <option value="não">Não</option>
                </select>
              </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Fonte pagadora:</label>
          <div class="col-md-5">
            <input id="pagbolsa" name="pagbolsa" type="text"  class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group row">
          <label for="conclusao" class="col-md-4 control-label">Duração:</label>
          <br>
          <div class="col-md-5">
            Inicio: <input class="form-control" name="iniciobolsa" type="date"  id="iniciobolsa">
            <br>
            Duração:
            <select class="form-control" name='duracaobolsa'>
              <option value='1'>1 ano</option>
              <option value='2'>2 anos</option>
              <option value='3'>3 anos</option>
              <option value='4'>4 anos</option>
              <option value='5'>5 anos</option>
            </select>
          </div>
        </div>

        <br>
        <br>

  <!-- Qualificação -->
      <center><legend>Qualificação</legend></center>

        <div class="form-group">
          <label class="col-md-4 control-label" for="ativo">Se qualificou?</label>
          <div class="col-md-5">
            <select name="VQualificacao" class="form-control">
              <option value="Sim">Sim</option>
              <option value="Não">Não</option>
            </select>
          </div>
        </div>

<!--quando se qualificou-->
        <div class="form-group row">
          <label for="conclusao" class="col-md-4 control-label">Data da qualificação:</label>
            <div class="col-md-5">
              <input class="form-control" name="dataquali" type="date"  id="conclusao">
            </div>
        </div>


<!--Orientador-->
      <div class="form-group">
        <label class="col-md-4 control-label">Orientador:</label>
        <div class="col-md-5">
          <input id="orientador" name="orientador" type="text"  value="{{row[11]}}"class="form-control input-md" required="">
        </div>
      </div>
<!--Coorientadores-->
      <div class="form-group">
        <label class="col-md-4 control-label">Coorientadores:</label>
        <div class="col-md-5">
          <input id="coorientadores" name="coorientadores" value="{{row[12]}}"type="text"  class="form-control input-md" required="">
        </div>
      </div>


<!-- CodDisc-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="coddisc">Código da disciplina:</label>
          <div class="col-md-5">
            <input id="curso" name="coddisc" type="text"   value="{{row[15]}}"class="form-control input-md" required="">
          </div>
        </div>
        <input id="id" name="id" type="text"   value="{{row[0]}}"class="escondido" required="">

        <!--Paper-->
              <center><legend>Paper</legend></center>
              <div class="form-group">
                <label class="col-md-4 control-label">Já submeteu um paper?</label>
                <div class="col-md-5">
                  <form>
                    <label class="radio-inline">
                    <input type="radio" name="paper" id="sim" value="sim">Sim
                    </label>
                    <label class="radio-inline">
                    <input type="radio" name="paper" id="nao" value="nao">Não
                    </label>
                  </form>
                </div>
              </div>

              <div class="form-group row">
                <label for="datapub" class="col-md-4 control-label">Data da publicação:</label>
                <div class="col-md-5">
                    <input class="form-control" name="datapub" type="date"  id="datapub">
                  </div>
              </div>

              <div class="form-group">
                <label for="ondepub" class="col-md-4 control-label">Conferência/Journal onde foi publicado:</label>
                <div class="col-md-5">
                  <input id="ondepub" name="ondepub" type="text" class="form-control input-md">
                </div>
              </div>
{% endfor %}
      <center>
        <input type="submit"></input>
      </center>
    </fieldset>
  </form>
{% endblock %}
