    {% extends "layout.html" %}
    {% block title %}Sistema de Gerenciamento Acadêmico | UFRJ{% endblock %}
    {% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <link rel="icon" type="image/gif" href="static/Imagens/minervacinza.png"/>
    {% endblock %}

    {% block body %}
        

    <div id="banner">
      <!-- <img src="static/Imagens/UFRJ.jpg"/> -->

    </div>

    <div id="container">
      <div class="chamada">
        <h1>Período letivo 2017.1</h1>
        <img src="static/Imagens/calendarioacademico.jpg"/>
        <p>Calendário acadêmico</p>
        <p>• Período letivo: 6 de março à 8 de julho de 2017</p>
        <p>• Informações sobre o período letivo 2017.1 (...</p>
      </div>
      <div class="chamada">
        <h1>Ajuda</h1>
        <img src="static/Imagens/question.jpg"/>
        <p>Dúvidas frequentes</p>
      </div>
    </div>
    {% endblock %}
