{% extends "layout.html" %}
{% block title%}Pesquisa{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pesquisa.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}

    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <img alt="Brand" src="https://s29.postimg.org/6tkc583k7/UFRJ.png" width="180px">
      </div>
    </nav>

    <!--formulario-->
    <div class="container">
      <div class="row">
   			  <section align="center">
            <h3><b><a href="/consulta">Aluno Ativo</a></b></h3>
            <br>
            <h3><b><a href="default.asp" target="_blank">Aluno Bolsista</a></b></h3>
            <br>
            <br>

            <p>Pesquisa Professor</p>
            <div id="divBusca">
              <form class="form-horizontal" action='/pesquisaprof/{value}' method="POST">

              <input type="text" id="txtBusca" placeholder="Buscar..."/>
              <input type="submit" class="btn btn-alert"></input>
            </form>

            </div>
            <br>

            <p>Pesquisa de Aluno</p>
            <div id="divBusca">
              <form class="form-horizontal" action='/pesquisaaluno' method="POST">
              <input type="text" id="txtBusca" name='value' placeholder="Buscar..."/>
              <input type="submit" class="btn btn-alert"></input>

            </form>

            </div>
            <br>
            <center><a class="btn btn-default" href="#" role="button">Voltar</a></center>
          </section>
   	  </div>
    </div>
    {% endblock %}
