{% extends "layout.html" %}
{% block head %}
  <style>
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.texto{
  padding-top: 70px;
  padding-bottom: 70px;

}
.texto h3{
  text-align: center;
}
.texto p{
  text-align: center;
}
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Quem </title>
 {% endblock %}

 {% block body %}
 <nav class="navbar navbar-default">
   <div class="navbar-header">
<img alt="Brand" src="https://s29.postimg.org/6tkc583k7/UFRJ.png" width="180px">
  </div>
</div>
   </nav>
<!--formulario-->
   <div class="container">
       <div class="row">
   		<div class="span12">
   			<form class="form-horizontal" action='' method="POST">
   			  <fieldset>
          </div>
              <div id="legend">
     			      <legend class=""><center>Sobre</center></legend>
     			    </div>
              <div class="texto"><div align="center">
               <h3>Sistema de Gerenciamento Acadêmico</h3>
               <p> • Cadastro de alunos;</p>
               <p> • Cadastro de professores;</p>
               <p> • Gestão de cursos, turmas, salas e horários;</p>
               <p> • Possibilidade de gerenciar cursos e turmas de diferentes naturezas;</p>
               <p> • Efetivação de matrículas e transferências;</p>
               <p> • Criação de turmas com seu respectivo limite de vagas, horário, módulo e professor;</p>
               <p> • Processo automático de re-matrícula, a cada ano ou semestre;</p>
              </div>
            </div>
              <div>
              <center><a class="btn btn-default" href="#" role="button">Voltar</a></center>
              </div>
              <div id="legend">
     			      <legend class=""><center></center></legend>
     			    </div>
             </div>

          </fieldset>
   			</form>
   		</div>
   	</div>
   </div>


{% endblock %}
