{% extends "layout.html" %}
{% block title %}Tabela de Edição de Alunos{% endblock %}
{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
{% endblock %}
{% block body %}

  <!--formulario-->
  <div class="container">
    <div class="row">
      <div class="span12">
        <form class="form-horizontal" action='' method="POST">
          <fieldset>
            <a href="{{url_for('registroProf')}}"><h4>Incluir registro</h4></a>
            <div class="table-responsive">
              <table class="table">
                <TR>
                  <TH>Codigo</TH>
                  <TH>Nome</TH>
                  <TH>Email </TH>
                  <TH>Telefone </TH>

                  <TH>SIAPE</TH>
                  <TH>Tipo</TH>
                  <TH>CodOrientados</TH>
                  <TH>Editar?</TH>
                  <TH>Deletar?</TH>
                </TR>
                {% for row in rows %}
                  <TR class="cinza">
                    <TD>{{row['id']}}</TD>
                    <TD>{{row['nome']}}</TD>
                    <TD>{{row['email']}}</TD>
                    <TD>{{row['tel']}}</TD>

                    <TD>{{row['SIAPE']}}</TD>
                    <TD>{{row['Tipo']}}</TD>
                    <TD>
                      {% if not row['CodOrientados'] %}
                        Nenhum
                      {% else %}
                        {{row['CodOrientados']}}
                      {% endif %}
                    </TD>
                    <TD><a href="/editProf/{{row['IDGERAL']}}">Editar</a></TD>
                    <TD><a href="/deletar/{{row['IDGERAL']}}">Deletar</a></TD>
                  </TR>
                {% endfor %}
              </table>
            </div>
            <br><br><br>
          </fieldset>
        </form>
      </div>
    </div>
    <!-- </center> -->
  </div>
  <!-- </div>
  </div> -->
{% endblock %}
